@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Outfit:wght@300;400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Outfit;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D192C;
  width: 100%;
  height: 100vh;
}

#preview-card {
  width: 350px;
  height: 596px;
  background-color: #15263F;
  border-radius: 16px;
  box-shadow: 0px 17px 15px 11px rgba(10,19,33,0.51)
}

/* Left off trying to figure out how to implement the eyeball hover effect on the image within the preview card */

#equilibrium {
  position: relative;
  display: inline-block;
}

#cyan-overlay {
  position: absolute;
  top: 0;
  width: 302px;
  height: 302px;
  opacity: 0.503;
  border-radius: 8px;
  opacity: 0.0;
  transition-duration: 1s;
}

section img {
  width: 302px;
  height: 302px;
  margin: 24px;
  border-radius: 8px;
}

#cyan-overlay:hover {
  cursor: pointer;
  opacity: 0.5;
}

#equilibrium-3429 {
  color: white;
  margin-left: 24px;
}

#equilibrium-3429 h2 {
  font-size: 22px;
  font-weight: 500;
}

#equilibrium-3429 p {
  width: 302px;
  font-weight: 300;
  font-size: 18px;
  color: #8BACD9;
  margin: 16px 0 25px 0;
}

#ethereum {
  width: 14px;
  height: 22px;
  margin: -2px 6px 0 24px;
  vertical-align: middle;
}

#clock {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-left: 95px;
  margin-top: -2px;
  vertical-align: middle;
}

.para_ethereum, .days {
  display: inline-block;
}

.days {
  width: 73px;
  height: 20px;
  font-size: 16px;
  margin: 3px 0 0 5px;
  color: #8BACD9;
}

.para_ethereum {
  width: 75px;
  height: 20px;
  align-items: center;
  color: cyan;
}

.hr {
  border: #2e405a solid 1px;
  width: 302px;
  height: 1px;
  margin: 24px 0 -7px 24px;
}

#avatar {
  width: 33px;
  height: 33px;
  border: white solid 1px;
  border-radius: 50%;
  margin-right: 16px;
}

.avatar-para {
  display: inline-block;
  width: 190px;
  height: 93px;
  vertical-align: middle;
  color: #8BACD9;
  margin-left: -3px;
  letter-spacing: 0.5px;
}

span {
  letter-spacing: 0.5px;
  color: white;
}

#signature {
  width: 300px;
  text-align: center;
  margin-left: 24px;
  line-height: 30px;
}

#name {
  color: cyan;
}

/* Used figma to combine the icon-view and cyan overlay to make one svg file.  I then exported that file and used it for as the background image */

#eyeball:hover {
  cursor: pointer;
  opacity: 1;
  text-align: center;
}

#equilibrium-3429 h2:hover {
  color: cyan;
  transition-duration: 1s;
  cursor: pointer;
}

span:hover {
  color: cyan;
  transition-duration: 1s;
  cursor: pointer;
}


